.body{
  width: 100%;
  min-height: 300px;
  padding: 30px;
}

.body h3{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  color: #1c1452;
}


.body .container{
  width: 80%;
  min-height: 450px;
  background-color: white;
  box-sizing: border-box;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 50px;
}

.body .container .left{
  width: 50%;
  min-height: 360px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.body .container a{
  display: block;
  width: 23%;
  height: 70px;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
}

.body .container img{
  height: 100%;
  width: 100%;
}


.body .container .right{
  width: 50%;
  min-height: 360px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
