.body{
  width: 100%;
  min-height: 950px;
  box-sizing: border-box;
  padding: 20px 70px;
}

.search {
  width: 20%;
  min-height: 700px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  border-radius: 20px;
  background-color: white;
}

.body .search .search_variantebi{
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
}

.body .search select{
  height: 40px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  bottom: 10px;
}

.body .search  .search_variantebi .search_money{
  height: 40px;
  width: 30%;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  bottom: 10px;
  float: left;
  margin-right: 5%;
}

.body .search  .search_variantebi .search_money_type{
  height: 40px;
  width: 30%;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  bottom: 10px;
  float: left;
}

.body .search .search_dzebna{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}

.body .search .search_dzebna input{
  height: 50%;
  width: 80%;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #ec1b26;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 25px;

}

.underline{
  text-decoration: underline;
}

.blue{
  color: #1b0f55;
}

.search .check input{
  width: 20px;
  height: 20px;
  position: relative;
  top: 7px;
}











.aweva{
  position: relative;
  bottom: 30px;
}






.zedasarchevi{
  width: 76%;
  min-height: 60px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  margin-left: 20px;
  background-color: white;
  border-radius: 20px;
}

.gamochena{
  display: block;
  height: 30px;
  width: 30px;
  background-color: white;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  top: 5px;
  float: left;
  padding: 5px;
}

.gamochena .icon{
  height: 20px;
  width: 20px;
}

.list{
  left: 0px;
  border-radius: 10px 0px 0px 10px;
}

.kvadrati{
  right: 0px;
  border-radius: 0px 10px 10px 0px;
}

.zedasarchevi .left{
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.zedasarchevi .left .post{
  position: relative;
  top: 10px;
  left: 20px
}



.zedasarchevi .right{
  width: 50%;
  box-sizing: border-box;
  float: right;
}

.zedasarchevi .right select{
  height: 40px;
  width: 150px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  float: right;
}

.zedasarchevi .right .rise{
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  padding: 10px;
  background-image: url("../../photo/rise.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  float: right;
}















.shedegi{
  width: 76%;
  min-height: 800px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  border-radius: 20px;
  margin-left: 20px;
  /* background-color: white;
                                border: 1px solid; */

}


.body   .varianti{
  height: 250px;
  width: 210px;
  float: left;
  box-shadow: 2px 2px 4px #f2f2f2;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  margin-top: 15px;
  margin-left: 13px;
}

.body   .varianti img{
  height: 150px;
  width: 100%;
}

.body   .varianti .logo{
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
}

.body   .varianti p{
  position: relative;
  bottom: 10px;
}

.red{
  color: red;
}

.body   .varianti .favoriti{
  height: 20px;
  width: 20px;
  background-image: url('../../photo/heart.png');
  background-size: 20px 20px;
  position: relative;
  left: 170px;
  bottom: 250px;
}

.body .varianti .favoriti:hover{
  background-image: url('../../photo/heart_hover.png');
}

.body .popular  .variantebi{
  height: 270px;;
  width: 100%;
  box-sizing: border-box;
}

.gverdinm{
  width: 245px;
  height: 30px;
  box-sizing:border-box;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: relative;
  left: 50%;
}

.gverdinm a{
  width: 30px;
  height: 30px;
  display: block;
  box-sizing: border-box;
  padding: 9px;
  margin-right: 3px;
  background-color: #0066ff;
  color: white;
  float: left;
}

.gverdinm a:hover{
  color: #ec1b26;
}



@media only screen and (min-width: 1367px) {
  .body{
    width: 100%;
    min-height: 2300px;
    box-sizing: border-box;
    padding: 20px 70px;
  }

  .shedegi{
    width: 78%;
    min-height: 800px;
    box-sizing: border-box;
    padding: 0px;
    float: left;
    border-radius: 20px;
    margin-left: 20px;
    position: relative;
    right: 12px;
  }

}
